<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DCS TEST SUITE" thread-count="2" parallel="methods">
    <parameter name="url" value="https://dcsqa.avtra.com/dcs/#/login/en/IR"/>
    <listeners>
        <listener class-name="Utilities.Log"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Chrome Headless Suite">
        <parameter name="browser" value="Chromeheadless"/>
        <classes>
            <class name="TestRunner"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Chrome Suite">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="TestRunner">
            <methods>
                <include name="LogInToTheDCS"/>
                <include name="GotoMainMenu"/>
                <include name="createFlight"/>
                <include name="editFlight"/>
                <exclude name="GotoDashBoard"/>
                <exclude name="LoadFlightToCheckIn"/>
                <include name="LogOut"/>
            </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Firefox Suite">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="TestRunner">
                <methods>
                    <include name="LogInToTheDCS"/>
                    <include name="GotoMainMenu"/>
                    <include name="createFlight"/>
                    <include name="editFlight"/>
                    <exclude name="GotoDashBoard"/>
                    <exclude name="LoadFlightToCheckIn"/>
                    <include name="LogOut"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Opera Suite">
        <parameter name="browser" value="Opera"/>
        <classes>
            <class name="TestRunner">
            </class>
        </classes>
    </test>
</suite>